.block2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem 15rem;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
}



.input-wrapper {
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  text-align: start;
}

.input-wrapper h3 {
  width: 100%;
  font-weight: bold;
  padding: 10px;
}

.input-wrapper input {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1.2em;
  text-align: center;
}

#searchbar {
  background-color: white;
}


.input-wrapper button {
  justify-content: center;
  position: absolute;
  right: 0.5rem;
  width: auto;
  margin-top: 0.4em;
  padding: 4px;
  background-color: hsl(169, 86%, 28%);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
}

.input-wrapper button:hover {
  background-color: rgb(16, 16, 16);
  border: 2px solid rgb(194, 51, 25);
  color: rgb(221, 13, 13);
}



.logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: contain;
  background-color: hsl(169, 86%, 28%);
  padding: 1.2rem;
}
