
.block3 {
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 3rem;
    margin-bottom: 2rem;

    p {
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        text-align: start;
    }
    .Avtar-icon h3 {
        font-weight: bold;
    }

    .Avtar-icon h4 {
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }

}

.block3 ul{
    display: grid;
    align-items: stretch;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.0em;

}

.cards.block3{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    display: grid;
    width: 100%;
    padding: 5px 5px;
    gap: 1rem;
    align-items: start;

    img {
        width: 100%;
    }
}

.sub-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;

    h3 {
        font-size: 18px;
    }
    #first {
        
        background-color: rgba(255, 0, 0, 0.717);
        border-radius: 10rem;
        padding: 0.5rem 0.5rem;
    }

    #second {
        background-color: rgb(69, 177, 42);
        border-radius: 10rem;
        padding: 0.4rem 0.4rem;
    }

    #third {
        background-color: rgba(95, 64, 208, 0.609);
        border-radius: 10rem;
        padding: 0.3rem 0.3rem;
    }

   
    
    #fourth {
        background-color: rgb(0, 200, 255);
        border-radius: 10rem;
        padding: 0.5rem 0.5rem;
    }

    #fifth {
        color: rgb(26, 28, 26);
        background-color: rgb(143, 133, 220);
        border-radius: 10rem;
        padding: 0.3rem 0.3rem;
    }

    #sixth {
        background-color: rgb(142, 183, 54);
        border-radius: 10rem;
        padding: 0.3rem 0.3rem;
    }

    #seven {
        color: rgb(26, 28, 26);
        background-color: rgb(121, 220, 194);
        border-radius: 10rem;
        padding: 0.3rem 0.3rem;
    }

    #eight {
        background-color: rgb(16, 174, 127);
        border-radius: 10rem;
        padding: 0.3rem 0.3rem;
    }
}


.block3 ul li {
    display: grid;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    background-color: rgb(237, 243, 240);
    border: 0.3rem solid rgb(235, 239, 235);
    width: auto;
    width: 100%;
    min-width: fit-content;
}


.block3 h2 {
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
}


.figure1 {
    grid-column: 1;
    grid-row: 1;
}

.figure2 {
    grid-column: 2;
    grid-row: 1;
}

.Avtar-icon  {
    background-color: rgb(246, 248, 248);
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1rem;

    img {
        width: 30%;
    }
}

