.first-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 3rem; 
  gap: 1.5rem;
  padding-left: 100px;
  padding-right: 100px;
  h3 {
    font-size: 0.8em;
    margin-top: 0.5rem;
  }
}

.container {
  background-color: white;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: auto;
}

.item1 {
  display: flex;
  justify-content: stretch;
  height: 100%;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.vertical-stack {
  display: flex;
  flex-direction: row;
  grid-column: 2;
  grid-row: 1;

  li {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.first-block ul  {
  width: 100%;
  height: auto;
  

}

.item4 {
  display: flex;
  grid-column: 3;
  grid-row: 1;
}

.item5 {
  display: flex;
  grid-column: 2;
  grid-row: 2;
}

.item6 {
  display: flex;
  grid-column: 3;
  grid-row: 2;
}





/* 
.container {
  background-color: rgb(246, 241, 241);
  display: grid;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.cards  {
  display: grid;
  
  li {
    list-style: none;
    flex: 1 1 auto;
  }

  .item1 {
    display: flex;
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
  }

  .item2 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
  }

  .vertical-stack {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .item3-4 {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1;
    justify-content: center;
  }

  
}*/