header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#Hamburgare_svg {
  display: none;
}

.logo_svg:first-child {
  display: flex;
  transform: translateX(-30%);
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  
  img {
    border-radius: 2px solid green;
    height: 50px;
    width: auto;
    padding: 3px;
  }


  h1 {
  color: hsl(169, 86%, 28%);
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.0rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
}

nav ul li a {
  display: flex;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  color: #2e9165;
  font-weight: bold;
}

nav ul li a:hover,
nav ul li a:active {
  color: white;
  background-color:  hsl(169, 86%, 28%) ;
}
