header {
  display: flex;
  flex-wrap: wrap; /* makes elements stack on small screens */
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem;
  width: 100%;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-side img {
  height: 50px;
  width: auto;
}

.left-side h1 {
  color: rgba(23, 116, 88, 0.965);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right-side ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.right-side ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.right-side ul li a:hover,
.right-side ul li a:active {
  color: white;
  background-color: #209b20;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
