

@media only screen and (max-width: 630px) {

    body {
        max-width: 100vh;
    }
   
    header {
        max-width: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40%;

        .btn {
            display: none;
        }

        #Hamburgare_svg { 
            display: block;
            background-color: rgb(26, 136, 99);
        }

        #Hamburgare_svg:hover {
            background-color: black;
            color: white;
        }
    }

  

    footer {
    
        width: 100%;
        display: flex;

        .footer-nav {
            display: none;
        }
    }

    main {
        display: block;
        align-items: center;
        margin: 0;
        width: 100%;

        .block3 ul {
            width: 100%;
            grid-template-columns: 1fr;
            margin: 0;
        }

        .block3 {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 100%;

        }

        
        .block2 {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            padding: 0;

            h3 {
                width: 100%;
                display: flex;
                flex-direction: row;
            }

            .input-wrapper {
                margin-bottom: 10px;
            }

            .logo {
                margin-top: 10px;
            }
        }

        .Avtar-icon {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .info-data {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }

        .info-data figure {
            width: 150px;
            height: 150px;
            padding: 2.5rem;
        }

        .info-data h3 {
            font-size: 0.7rem;
            transform: translateY(40%) translateX(40%);
        }

        
    }
}


@media screen and (min-width: 600px) and (max-width: 950px) {

    
    header {
        max-width: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40%;

        .btn {
            display: none;
        }

        #Hamburgare_svg { 
            display: block;
            background-color: hsl(169, 85%, 26%);
        }

        #Hamburgare_svg:hover {
            background-color: black;
            color: white;
        }
    }

  
      main {
        display: block;
        align-items: center;
        margin: 0;
        width: 100%;
        
       
        .block3 ul {
            grid-template-columns: 1fr 1fr;
        }

        .block2 {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }

        .block2 h3 {
            display: flex;
            flex-direction: row;
        }

        .input-wrapper {
            margin-bottom: 10px;
        }

        .logo {
            margin-top: 10px;
        }

        
        .Avtar-icon {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        
        .info-data {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }

        .info-data figure {
            width: 150px;
            height: 150px;
            padding: 2.5rem;
        }

        .info-data h3 {
            font-size: 0.7rem;
            transform: translateY(40%) translateX(90%);
        }

        .first-block {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

      

        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto auto;
        }

       

    }
}
