 .item2 {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }

  .item1 {
    max-width: fit-content;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-end: 1;
    width: 150px;
  }

  .item6 {
    max-width: fit-content;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-end: 1;
    width: 150px;
  }

  .item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-end: 1;
    padding-top: 0;
  }

  .item4 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-end: 1;
    padding-top: 210px;
  }
  
  .item5 {
    padding-top: 222px;
    grid-column-start:2;
    grid-row-end: 1;
  }


  # andra delen 

.input-wrapper {
  align-items: center;
  position: relative;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.input-wrapper h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-wrapper input {
  max-width: 100%;
  background-color: white;
  border-radius: 5rem;
  width: 240px;
  color: grey;
  text-align: center;
  padding-right: 50px; /* to make space for the button inside */
}

.input-wrapper button {
  position: absolute;
  top: 50%;
  width: 5%;
  right: calc(50% - 9.8% + 4px); /* positions the button inside the input */
  background-color: green;
  margin-top: 1%;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  padding: 0;
}